* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10%;
    background-image: linear-gradient(white, #31bbe7, white);
}

/*header container*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;
}

header>img {
    margin-bottom: 10%;

    width: 100%;
    height: auto;
}

header>h1 {
    color: #0375bc;
    text-align: center;
    font-size: 24px;
}
.inside-menu h3{
    text-align: center;
    margin-bottom: 7px;
    border-bottom: 1px solid white;
}
.menu {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-gap: 3%;
    width: 100%;
}

.menu .inside-menu {

    border: 1px solid white;
    padding: 5%;
}

.menu ul {
    list-style: none;
    text-decoration: none;
}
.price li {
    margin-bottom: 4px;
}
.typess li {
    margin-bottom: 4px;
}
.prices li {
    margin-bottom: 5px;
}
.pricess li {
    margin-bottom: 6px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.types{
    text-align: right;
}
.prices{
    text-align: left;
}

@media (min-width: 500px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
